.UList-Item {
  align-items: baseline;
  display: flex;
  margin-bottom: 0.75rem;
}

.UList-Item::before {
  color: #444;
  content: '•';
  margin-left: -1.375rem;
  padding-right: 0.9375rem;
}

.UList-Item:last-child {
  margin-bottom: 0;
}
