<%= react_component('Header', {theme: 'default', activeLink: 'publications', className: 'Page-Header'}, prerender: true) %>
<div class="centered-layout">
  <%= react_component('Heading', {size: 'l', tag: 'h1', children: t('.read_watch_listen')}, prerender: true, style: 'margin: 60px 0 80px 0') %>
</div>

<div class="grid-layout">
  <ul>
    <%= render @publications %>
  </ul>
  <%= paginate @publications %>
</div>
<%= react_component('Footer', {className: 'Page-Footer'}, prerender: true) %>
