<%= react_component('Header', {theme: 'default', activeLink: 'publications', className: 'Page-Header'}, prerender: true) %>
<div class="content-layout">
  <article class="publication">
    <%= react_component('Heading', {size: 'l', tag: 'h1', children: @publication.title}, prerender: true, style: 'margin-top: 60px') %>

    <%= markup @publication.body %>

    <footer class="centered-layout">
      <div>
        <address>
          <%= @publication.author.name %>
        </address>
      </div>
      <div>
        <%= time_tag @publication.published_at,
                     l(@publication.published_at.to_date, format: :short) %>
      </div>
    </footer>
  </article>
</div>
<%= react_component('Footer', {className: 'Page-Footer'}, prerender: true) %>
