<div class="field">
  <%= form.label :type, class: 'label' %>
  <div class="control">
    <%= t('activerecord.models.article') %>
    <%= hidden_field_tag :type, 'Article' %>
  </div>
</div>

<div class="field">
  <%= form.label :title, class: 'label' %>
  <div class="control">
    <%= form.text_field :title, id: :publication_title, class: 'input' %>
  </div>
</div>

<div class="field">
  <%= form.label :annotation, class: 'label' %>
  <div class="control">
    <%= form.text_field :annotation, class: 'input' %>
  </div>
</div>

<div class="field">
  <%= form.label :body, class: 'label' %>
  <div class="control">
    <div id="editor-wrapper"></div>
    <%= form.text_area :body, id: :publication_body, class: 'is-hidden' %>
  </div>
</div>

<%= form.fields_for :picture do |picture_fields| %>
  <div class="field">
    <%= picture_fields.label :file, class: 'label' %>
    <label class="file">
      <div class="file-label">
        <%= picture_fields.file_field :file, class: 'file-input' %>

        <span class="file-cta">
          <span class="file-label"><%= t('choose_a_file') %></span>
        </span>
      </div>
    </label>
  </div>
<% end %>

<div class="field">
  <%= form.label :published_at, class: 'label' %>
  <div class="control">
    <%= form.datetime_select :published_at %>
  </div>
</div>
