.Page-Content {
  margin: 0 1.25rem;
}

@media screen and (min-width: 47.75rem) {
  .Page-Content {
    margin: 0 3.125rem;
  }
}

@media screen and (min-width: 76.5rem) {
  .Page-Content {
    margin: 0 auto;
    width: 72.5rem;
  }
}
