<%= t('.we_will_contact_you', name: @membership_request.full_name) %>

<%= t('.subscribe') %>

- <%= t('.telegram') %> (https://telegram.me/Libertarians)
- <%= t('.vk') %> (https://vk.com/public24070381)
- <%= t('.digest') %> (https://vk.com/digestlpr)
