<%= paginator.render do %>
  <nav class="pagination">
    <ul class="pagination-list">
      <% each_page.select(&:inside_window?).each do |page| %>
        <li>
          <%= page_tag page %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
