.Contact-Photo {
  height: 4.375rem;
  width: 4.375rem;
}

@media screen and (min-width: 22.5rem) {
  .Contact-Photo {
    height: 5.625rem;
    width: 5.625rem;
  }
}

@media screen and (min-width: 29.625rem) {
  .Contact-Photo {
    height: 12rem;
    width: 12rem;
  }
}
