<div class="container">
  <section class="actions">
    <div class="level">
      <div class="level-left">
        <h1 class="title is-4 has-text-white"><%= t('.edit_publication') %></h1>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= submit_tag t('save'), form: 'publication-form', class: 'button' %>
        </div>
        <div class="level-item">
          <%= link_to t('delete'),
                admin_publication_path(@publication),
                class: 'button is-danger',
                method: :delete,
                data: {confirm: t('are_you_sure')} %>
        </div>
      </div>
    </div>
  </section>

  <%= form_with model: [:admin, @publication],
        url: admin_publication_path(@publication),
        local: true,
        class: 'box',
        id: 'publication-form' do |form| %>

    <%= render 'shared/errors', obj: @publication %>
    <%= render "admin/#{@publication.type.downcase.pluralize}/fields",
          form: form %>
  <% end %>
</div>
