<% if @publication %>
  <div class="container">
    <section class="actions">
      <div class="level">
        <div class="level-left">
          <h1 class="title is-4 has-text-white">
            <%= t('.add_publication') %>
          </h1>
        </div>
        <div class="level-right">
          <div class="level-item">
            <%= submit_tag t('save'),
                  form: 'publication-form',
                  class: 'button' %>
          </div>
        </div>
      </div>
    </section>

    <%= form_with model: [:admin, @publication],
          url: admin_publications_path,
          local: true,
          class: 'box',
          id: 'publication-form' do |form| %>

      <%= render 'shared/errors', obj: @publication %>
      <%= render "admin/#{@publication.type.downcase.pluralize}/fields",
            form: form %>
    <% end %>
  </div>
<% else %>
  <div class="columns">
    <div class="column is-one-third is-offset-one-third">
      <br>
      <h1 class="title"><%= t('.choose_type') %></h1>
      <div class="buttons">
        <% Publication.types.each do |type| %>
          <%= link_to type.constantize.model_name.human,
                new_admin_publication_path(type: type),
                class: 'button' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
